<h1>New Recipe!</h1>


<form method='post' action='/recipes/new'>
<label>Name of Recipe: <input type="text" name='recipe[name]'><br><br>
<label>Ingredients for Recipe: <input type="text" name='recipe[ingredients]'><br><br>
<label>Cooking Time for Recipe: <input type="text" name='recipe[cook_time]'><br><br>
<input type='submit' id='submit' value='Yay, More Basic Bitch Food to Share With the World'>
</form>
